
@{
    ViewBag.Title = "NotRecognitionAuthor";
}
<br />
<br />
<div class="alert alert-danger">
    <h2>Not Recognition Author</h2>
    Must be the user who created it
</div>
<br />
@Html.ActionLink("Return to list", "index", "recognitions")