@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Our clients and employees deserve an unmatched experience. That’s why we’re here – to provide experiences like no other. Learn more about the values that define us, motivate us, and guide our actions.</p>
