@{
    ViewBag.Title = "Contact Gwenn Denorme";
}
    <h2>@ViewBag.Title.</h2>


<address>
    Gwenn Denorme<br />
    <a href="mailto:gwenn.denorme@centricconsulting.com">gwenn.denorme@centricconsulting.com</a><br />
    <abbr title="Phone">P: 614-205-1384</abbr>
</address>

<address>
<a href="https://centricconsulting.com/contact/"></a><br />
</address>