@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    ?<br />
    ?<br />
    <abbr title="Phone">P:</abbr>
    111.222.1234
</address>

<address>
    <strong>Support:</strong>   <a href="https://centricconsulting.com/contact/"></a><br />
</address>