@{
    ViewBag.Title = "Home Page";
}

<style type="text/css">
    .jumbotron {
        margin-top: 20px;
        background-image: url();
        background-size: contain;
        color: white;
    }
</style>

<div class="container">
    <div class="jumbotron" style=" background-color:#ffd800">
        <h1>Centric's Core Values</h1>
        <p class="lead">
            Commit to Delivery Excellence <br />
            Embrace Integrity and Openness <br />
            Practice Responsible Stewardship <br />
            Invest in an Exceptional Culture <br />
            Ignite Passion for the Greater Good <br />
            Strive to Innovate <br />
            Live a Balanced Life
        </p>

    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Our Core Values</h2>
        <p>

        </p>
        <p><a class="btn btn-default" href="https://centricconsulting.com/about-us/why-were-here/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Social Media</h2>
        <p></p>
        <p>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <style>
                .fa {
                    padding: 20px;
                    font-size: 35px;
                    width: 75px;
                    text-align: center;
                    text-decoration: none;
                    margin: 5px 2px;
                }

                    .fa:hover {
                        opacity: 0.7;
                    }

                .fa-facebook {
                    background: #3B5998;
                    color: white;
                }

                .fa-twitter {
                    background: #55ACEE;
                    color: white;
                }
            </style>
            <!-- Add font awesome icons -->
            <a href="https://www.facebook.com/CentricConsultingNational" class="fa fa-facebook"></a>
            <a href="https://twitter.com/centric" class="fa fa-twitter"></a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Recognitions</h2>
        <p></p>
        <p><a class="btn btn-default" href="~/recognitions">Leave a Recognition &raquo;</a></p>
    </div>
</div>