@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style=" background-color:#ffd800">
    <h1>Centric's Core Values</h1>
    <p class="lead">
        Commit to Delivery Excellence <br />
        Embrace Integrity and Openness <br />
        Practice Responsible Stewardship <br />
        Invest in an Exceptional Culture <br />
        Ignite Passion for the Greater Good <br />
        Strive to Innovate <br />
        Live a Balanced Life
    </p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Our Core Values</h2>
        <p>
            
        </p>
        <p><a class="btn btn-default" href="https://centricconsulting.com/about-us/why-were-here/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Social Media</h2>
        <p></p>
        <p><a class="btn btn-default" href="https://www.facebook.com/CentricConsultingNational">Go to Facebook &raquo;</a><br /><br />
        <a class="btn btn-default" href="https://twitter.com/centric">Go to Twitter &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Leave Recognition</h2>
        <p></p>
        <p><a class="btn btn-default" href="https://aspnet.cob.ohio.edu/mis4200team7/Leaderboards">Post a Message &raquo;</a></p>
    </div>
</div>